body{
    font-size: 108px;
}

ul{
    font-size: 24px;
    list-style-type: none;
    /*list-style-type 屬性是用來設定在清單中，每一條之前的記號要用什麼。最常見的 list-style-type 設定值為：
    none (沒有)     disc (全黑圓圈)     circle (空心圓圈)       square (正方形)*/
    margin: 0;
    padding: 0;
    overflow:hidden;
    /*overflow:hidden 呈現結果，由於設定為 hidden，超出範圍的 xxx 直接被隱藏囉！*/
    background-color: #d2f1ee;
/*捲動頁面時元素會跟著父元素一起捲動，但是當元素與視窗的距離小於指定的數值時(例如下列範例是 top: 15px )，
元素則會轉換為 position: fixed;，固定黏著( sticky )在指定的數值上，距離不會再縮小。*/
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
.bg-color1{
    background-color: #d2f1ee;
    box-shadow: 0px 3px 8px 0px #000;
}

.bs-sidebar .nav > .active > ul {
    display: block;
    margin-bottom: 8px;
}

