#signincontainer{
    top: 36px;
    border: 2.5px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 48rem;
    height: 18rem;
    font-weight: bold;
    border-color: #7fcac3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border-style: solid solid solid solid;
}

#emailbox{
    justify-content: flex-start;
    top: 1rem;
    left:0.6rem;
    border: 0 px;
    width: 10rem;
    height:1rem;
    font-weight: bold;
    background-color: #d2f1ee;
    position: relative;
}


#emailname{
        top:0.5rem;
        color: #00796b;
        font-size: 1rem;
        font-weight: 900;
}

#inputemailcontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        top: 2rem;
        position: relative;
}

#passwordbox{
    justify-content: flex-start;
    top: 4rem;
    left:0.6rem;
    border: 0 px;
    width: 45rem;
    height:1rem;
    font-weight: bold;
    background-color: #d2f1ee;
    position: relative;
}


#passwordname{
        top:0.5rem;
        color: #00796b;
        font-size: 1rem;
        font-weight: 900;
}

#inputpwcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5rem;
    position: relative;
}

#email,#password{
    outline: none;
    border-style: none;
    border-radius: 5%;
}

#email,#password:focus{
    outline: none;
}

#forgetpwline{
    margin-left: 3rem;
    font-weight: lighter;
}

#forgetpw{
    margin-left: .5rem;
    text-decoration: underline;
}

#joinmemberbox{
    justify-content: flex-start;
    top: 6rem;
    left:0.6rem;
    border: 0 px;
    width: 45rem;
    height:1rem;
    font-weight: bold;
    background-color: #d2f1ee;
    position: relative;
}

#stillnotamember{
        top:0.5rem;
        color: #3a5d55;
        font-size: 1rem;
        font-weight: 900;
        margin-left:30rem;
}

#stillnotamemberline{
    margin-left: 2rem;
    font-weight: lighter;
}

#joinmember{
    text-decoration: underline;
    margin-left: 1rem;
}

#loginbuttoncontainer{
    top:7.2rem;
    border: 0px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 3.3rem;
    font-weight: bold;
    background-color: #d2f1ee;
    position: relative;
}

input[type="button"] {
    border-radius: 2.5%;
    font-size: 1rem;
    box-shadow: none;
    font-weight: 900;
    box-shadow: none;
    width: 16rem;
    height: 2rem;
    left: 5rem;
    border:0;
    background-color: #009588;
    text-align: center;
    line-height: 1rem;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    outline: none; 
}

input:hover, input:focus {
box-shadow: 0 3px 7px 1px rgba(50, 50, 50, 0.25);
border:0;
}
