#valuesContainer {
                top: 18px;
                border: 0 px;
                margin-left: auto;
                margin-right: auto;
                width: 48rem;
                height:6rem;
                font-weight: bold;
                background-color: #7fcac3;
                position: relative;
                border-radius: 2px;
}


#memberTitle {
                font-family: sans-serif;
                font: Source;
                font-weight: 900;
                font-size: 24px;
                line-height: 3.6rem;
                text-align: center;
                color: #3a5d55;
}


#registerTitle {
                font-family: sans-serif;
                font: Source;
                font-weight: 600;
                font-size: 18px;
                color: white;
                line-height: 0.2px;
                text-align: center;
}


#hrline {
        border: none;
        width: 12rem;
        border-top: .3rem solid  #009588;
        top: 2.35rem;
        right: 18rem;
        z-index: 999;
        position: absolute;
}



