/* 我把name、email、password、confirmpassword各個做成一格，再拼起來*/
/* 這邊是name那一格的css*/
#containName{
                top: 36px;
                border: 2.5px;
                border-style: solid;
                margin-left: auto;
                margin-right: auto;
                width: 48rem;
                height: 7.5rem;
                font-weight: bold;
                border-color: #7fcac3;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: flex-start;
                border-style: solid solid dashed solid;
                border-bottom-width:thin;
}

#namebox{
        justify-content: flex-start;
        top: 0.5rem;
        left:0.5rem;
        border: 0 px;
        width: 16rem;
        height:6rem;
        font-weight: bold;
        background-color: #7fcac3;
        position: relative;
}

#namechinese{
                font-family: sans-serif;
                font: Source;
                font-weight: 900;
                font-size: 20px;
                color: #3a5d55;
                text-align: center;
                padding: 12%;
                line-height: 1rem;
}

#nameenglish{
                font-family: sans-serif;
                font: Source;
                font-weight: 600;
                font-size: 12px;
                color: white;
                text-align: center;
                margin-top: -2.2rem;
}

#inputname{
                justify-content: flex-start;
                margin-top: 2.5rem;
                margin-left: 3rem;
}


/* 這邊是email那一格的css*/
#containemail{
                top: 36px;
                border: 2.5px;
                border-style: solid;
                margin-left: auto;
                margin-right: auto;
                width: 48rem;
                height: 7.5rem;
                font-weight: bold;
                border-color: #7fcac3;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: flex-start;
                border-style: none solid dashed solid;
                border-bottom-width:thin;
}

#emailbox{
        justify-content: flex-start;
        top: 0.5rem;
        left:0.5rem;
        border: 0 px;
        width: 16rem;
        height:6rem;
        font-weight: bold;
        background-color: #7fcac3;
        position: relative;
}

#emailchinese{
                font-family: sans-serif;
                font: Source;
                font-weight: 900;
                font-size: 20px;
                color: #3a5d55;
                text-align: center;
                padding: 12%;
                line-height: 1rem;
}

#emailenglish{
                font-family: sans-serif;
                font: Source;
                font-weight: 600;
                font-size: 12px;
                color: white;
                text-align: center;
                margin-top: -2.2rem;
}

#inputemail{
                justify-content: flex-start;
                margin-top: 2.5rem;
                margin-left: 3rem;
}


/* 這邊是password那一格的css*/
#containpw{
        top: 36px;
        border: 2.5px;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
        width: 48rem;
        height: 7.5rem;
        font-weight: bold;
        border-color: #7fcac3;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        border-style: none solid dashed solid;
        border-bottom-width:thin;
}

#pwbox{
        justify-content: flex-start;
        top: 0.5rem;
        left:0.5rem;
        border: 0 px;
        width: 16rem;
        height:6rem;
        font-weight: bold;
        background-color: #7fcac3;
        position: relative;
}

#pwchinese{
        font-family: sans-serif;
        font: Source;
        font-weight: 900;
        font-size: 20px;
        color: #3a5d55;
        text-align: center;
        padding: 12%;
        line-height: 1rem;
}

#pwenglish{
        font-family: sans-serif;
        font: Source;
        font-weight: 600;
        font-size: 12px;
        color: white;
        text-align: center;
        margin-top: -2.2rem;
}

#inputpw{
        justify-content: flex-start;
        margin-top: 2.5rem;
        margin-left: 3rem;
}


/* 這邊是密碼確認那一格的css*/
#containconfirm{
                top: 36px;
                border: 2.5px;
                border-style: solid;
                margin-left: auto;
                margin-right: auto;
                width: 48rem;
                height: 7.5rem;
                font-weight: bold;
                border-color: #7fcac3;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: flex-start;
                border-style: none solid solid solid;
                border-top-width:thin;
}

#confirmbox{
                justify-content: flex-start;
                top: 0.5rem;
                left:0.5rem;
                border: 0 px;
                width: 16rem;
                height:6rem;
                font-weight: bold;
                background-color: #7fcac3;
                position: relative;
}

#confirmchinese{
                font-family: sans-serif;
                font: Source;
                font-weight: 900;
                font-size: 20px;
                color: #3a5d55;
                text-align: center;
                padding: 12%;
                line-height: 1rem;
}

#confirmenglish{
                font-family: sans-serif;
                font: Source;
                font-weight: 600;
                font-size: 12px;
                color: white;
                text-align: center;
                margin-top: -2.2rem;
}

#inputconfirm{
                justify-content: flex-start;
                margin-top: 2.5rem;
                margin-left: 3rem;
        }

/*確認按鈕 */
#registerbuttoncontainer{
                        top:3rem;
                        border: 0px;
                        border-style: solid;
                        margin-left: auto;
                        margin-right: auto;
                        width: 48rem;
                        height: 6rem;
                        font-weight: bold;
                        background-color: #d2f1ee;
                        position: relative;
}

button[type="submit"] {
                        border-radius: 2.5%;
                        font-size: 0.3rem;
                        box-shadow: none;
                        font-weight: 600;
                        box-shadow: none;
                        width: 16rem;
                        height: 3rem;
                        left: 5rem;
                        border:0;
                        background-color: #7fcac3;
                        text-align: center;
                        line-height: 3rem;
                        color: white;
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        text-decoration: none;
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        outline: none; 
}

button:hover, button:focus {
                box-shadow: 0 3px 7px 1px rgba(50, 50, 50, 0.25);
                border:0;
}

button > span {
        display: block;
        line-height: 1;
        padding-right: 0.5rem;
}
button > span:first-of-type {
        color: #3a5d55;
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 900;
}

#member_name,#member_email,#member_password,#member_confirmpw{
        outline: none;
        border-style: none;
        border-radius: 5%;
}

#member_name,#member_email,#member_password,#member_confirmpw:focus{
        outline: none;
}